.body {
  padding-top: 50px;
  overflow-x: hidden;
  background: #F5F5F5;
  /*background: -webkit-linear-gradient(to right,#353F40 ,#b98a00);
  background: -o-linear-gradient(to right,#353F40 ,#b98a00);
  background: -moz-linear-gradient(to right,#353F40 ,#b98a00);
  background: linear-gradient(to right,#353F40 ,#b98a00);*/
}
.post-news{
  font-size: 120%;
  color: rgba(32, 26, 68, 1);
}
.botones{
  left: 50px;
  top: -20px;
  z-index: 4;
}
#post-code-body{
  color: rgba(32, 26, 68, 1);
  font-size: 120%;
  cursor: crosshair;
}
.name-post{
  color: #4E84E8;

}
#aside-1{
  height: 1000px;
  padding: 10px;
  background: #272727;
  color: #fff;
}
#aside-2{
  padding-top: 60px;
  padding: 10px;
  background: #272727;
  height: 1000px;
  color: #fff;
}
#pestanas{
  color: #4E84E8;
}
#main{
  margin-top: 10px;
}
.media{
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}
.jumbotron1{
  padding-bottom: 10px;
}
caption{
  font-size: 30px;
}
textarea{
  background: none;
  color: rgba(32, 26, 68, 1);
  overflow:none;
  outline: none;
  width: 550px;
  border: none;
  font-size: 200%;
  resize: none;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: rgba(32, 26, 68, 1);
    font-size: 20px;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: rgba(32, 26, 68, 1);
    font-size: 20px;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: rgba(32, 26, 68, 1);
    font-size: 20px;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: rgba(32, 26, 68, 1);
    font-size: 20px;
}

#group{
  border-bottom: 1px solid #999;
}
input.text{
  padding-bottom: 15px;
}
.post-picture{
  height: 70px;
  background-color: #1F1C16;
  border-radius: 10px;
}
.postmini-picture{
  height: 40px;
  background-color: #1F1C16;
  border-radius: 10px;
}
.like{
  width: 30px;
  cursor: pointer;
}
