.body {
  padding-top: 60px;
  background: #1F1C16;
  /*background: -webkit-linear-gradient(to right,#353F40 ,#b98a00);
  background: -o-linear-gradient(to right,#353F40 ,#b98a00);
  background: -moz-linear-gradient(to right,#353F40 ,#b98a00);
  background: linear-gradient(to right,#353F40 ,#b98a00);*/

  color: #E8C000;
}

.post-news{
  font-size: 120%;
}
.botones{
  position: relative;
  left: 50px;
  top: -20px;
  z-index: 4;
}
#post-code-body{
  color: #E8C000;
  font-size: 120%;
    cursor: crosshair;
}
.name-post{
  color: #4E84E8;

}
#aside-1{
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#pestanas{
  color: #4E84E8;
}
aside{
  /*background: #FF9933;*/
}
.media{
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}
.jumbotron1{
  padding-bottom: 10px;
}
.row{
  padding-bottom: 5px;
  align-items: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
caption{
  font-size: 30px;
}
textarea{
  background: none;
  color: #b98a00;
  overflow:none;
  outline: none;
  width: 550px;
  border: none;
  font-size: 20px;
  resize: none;
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #4E84E8;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #4E84E8;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #4E84E8;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #4E84E8;
}



.post-picture{
  height: 70px;
  background-color: #1F1C16;
  border-radius: 10px;
}
.like{
  width: 30px;
  cursor: pointer;
}
