@font-face {
  font-family: 'Roboto';
}
@font-face {
  font-family: 'Source Sans Pro';
}
body {
  margin: 0;
  background: 0;
  background: url("/Images/polina.jpg");
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background: url("/Images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
@media screen and (max-width: 500px) {
  div {
    width: 70%;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url("Images/polina.jpg") #fff no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
}
@font-face {
  font-family: 'Source Sans Pro';
}
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
h1 {
  margin: 0;
  padding: 0;
}
.logo {
  font-family: 'Source Sans Pro';
  font-size: 30px;
}
.by {
  padding-top: 14px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.offer {
  padding-top: 50px;
}
.hide {
  display: none;
}
.nav .pillar p {
  display: inline-block;
}
.nav .pillar p:first-child {
  float: left;
}
.logo {
  color: #fff;
}
.by {
  color: #fff;
}
.iconlogo {
  width: 30px;
}
.border-icon {
  color: #fff;
  border: 2px solid #de8817;
  border-radius: 10em;
  padding: 12px;
}
.text-icon {
  display: block;
  color: #7f74b3;
  font-style: normal;
  font-weight: bold;
  margin: 10px;
}
.inst-icon {
  color: #fff;
  font-weight: lighter;
}
.inputs {
  width: 40%;
  background-color: rgba(232,232,232,0.2);
  -webkit-box-shadow: 0px 2px 9px 1px rgba(50,50,50,0.69);
  -moz-box-shadow: 0px 2px 9px 1px rgba(50,50,50,0.69);
  box-shadow: 0px 2px 9px 1px rgba(50,50,50,0.69);
  border-radius: 1em;
  padding: 10px;
  margin: 0 auto;
}
.inputs .inpt {
  width: 90%;
  background-color: #fff;
  border: none;
  display: block;
  margin: 7px auto;
  padding: 5px;
  border-radius: 1em;
  outline: none;
}
.inputs .btn {
  width: 100px;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px;
  text-shadow: 0px -1px 0px rgba(30,30,30,0);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 5px;
  background-color: #de881a;
  -webkit-box-shadow: 0px 2px 1px rgba(50,50,50,0.41);
  -moz-box-shadow: 0px 2px 1px rgba(50,50,50,0.41);
  box-shadow: 0px 2px 1px rgba(50,50,50,0.41);
  display: inline-block;
  text-align: center;
}
.inputs .btn:hover {
  cursor: pointer;
}
