<ol class="breadcrumb">
  <li><a href="#" >Home</a></li>
  <li><a href="#" class="active">Biblioteca de Códigos</a></li>
</ol>


  <div class="row">
    <div class="col-sm-4" ng-repeat="post in codigos">
      <div class="thumbnail">
        <img ng-src="{{post.profile_picture}}" class="img-rounded img" alt="" >
       <div class="caption">
         <h3>{{post.name}} </h3>
         <p > {{post.titulo}}  Sintaxis: {{post.sintaxis}}</p>
         <p><a  class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" ng-click="traerCodigo(post.id)">Vista previa</a> <a href="#" class="btn btn-default" role="button" ng-click="verCodigo(post.id)">Ir</a></p>
       </div>
     </div>
    </div>
  </div>


  <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog" >
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Vista previa</h4>
         </div>
         <div class="modal-body" ng-repeat="code in codigoTexto">
           <textarea style="width:100%; height:30em">
             {{code.codigo}}
           </textarea>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>

     </div>
   </div>
