<ol class="breadcrumb">
  <li><a href="#" >Home</a></li>
  <li><a href="#" class="active">Publicar Código</a></li>
</ol>
<div class="col-md-11">
  <div class="form-group">
    Título<input type="text" class="form-control" ng-model="codeInfo.titulo" >
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    Seleccionar Sintaxis
    <select class="form-control" cols="50" id="sel1" ng-model="codeInfo.sintaxis" ng-change="cambiarSintaxis(codeInfo.sintaxis)">
      <option value="html">HTML</option>
      <option value="php">PHP</option>
      <option value="css">CSS</option>
      <option value="c_cpp">C++</option>
      <option value="javascript">JavaScript</option>
    </select>
  </div>
</div>
<div class="col-md-11">
  <!--
  <div class="form-group">
            <textarea name="post" placeholder="Pega tu código aquí" rows="12" class=" tArea form-control " ng-model="codeInfo.codigo" class="form-control"></textarea>
  </div>
-->
<div id="editor" class=" form-control ">

</div>

</div>
<div class="col-md-2">
  <button ng-click="sendCode()" class="btn btn-large btn-warning" name="button">Publicar</button>
</div>


<style>

.tArea{
  float:left;
  width:100%;
  outline:none;
  resize:vertical;
}


#editor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height:30em;
    }
</style>

<script>

</script>