<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="estilosperfil.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="true">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="feed"> <span><img src="img/uvu.png" align="center" width="50" height="25"/></span></script></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-1">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group" >
              <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="perfil.html"><span class="glyphicon glyphicon-user"></span> Perfil</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Opciones</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class=" glyphicon glyphicon-off"></span> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </header>

  <aside class="col-md-3 col-xs-12 col-sm-12" id="aside-1">
      <section class="jumbotron1">
        <img src="img/family.jpg" alt="" class="img-responsive img-rounded"/>
      </section>

      <div class="container-fluid">
        <div class="row">
          <div align="center">
            <img src="img/ed.jpg" alt="" class="img-responsive img-rounded" width="40%"/>
          </div>
        </div>
      </div>

      <section clas="jumbotron2">
        <div class="container">
         <h3>Eddie Lozano</h3>
        </div>
      </section>

      <div class="container col-md-12">
        <div align="center">
          <caption><h4>Otros contactos</h4></caption>
        </div>
        <div class="row">
          <a href="https://www.youtube.com/channel/UCMccW8pm7Tv25wWvz3B4Jdg" class="btn btn-block btn-danger active">
            <span class="glyphicon glyphicon-play"></span> Canal de Youtube
          </a>
        </div>
        <div class="row">
          <a href="https://twitter.com/EdLozano24" class="btn btn-block btn-info">
            <span><img src="img/twitter-logo.png" alt="1" width="20" height="20"/></span> Twitter
          </a>
        </div>
        <div class="row">
          <a href="https://www.facebook.com/eddie.lozano.351" class="btn btn-block btn-primary">
            <span><img src="img/face.jpg" alt="" width="20" height="20" /></span> Facebook
          </a>
        </div>
      </div>
    </aside>

    <div class="main container-fluid col-md-7 col-xs-12 col-sm-12">

      <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation"><a href="perfil.html">Posts</a></li>
          <li role="presentation" class="active"><a href="perfilseguidores.html">Seguidores</a></li>
          <li role="presentation"><a href="#mensajes">Mensajes</a></li>
        </ul>
      </div>

      <br>

    </div>

    <aside class="col-md-2 col-xs-12 col-sm-12 aside2" >
    <div class="container-fluid">
      <caption><h3>Lenguajes mas publicados</h3></caption>
      <div class="list-group ">
        <a href="#" class="list-group-item">
          <span class="badge">9</span>
          Php
        </a>
        <a href="#" class="list-group-item"><span class="badge">6</span>JavaScript</a>
        <a href="#" class="list-group-item"><span class="badge">5</span>Bootstrap</a>
        <a href="#" class="list-group-item"><span class="badge">3</span>Html</a>
      </div>
    </div>
    </aside>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
