  <div class="media" ng-repeat="new in publicaciones">
        <div class="media-left">
          <a href="perfil.html">
            <img ng-src="{{new.profile_picture}}" class="img-rounded post-picture" alt="">
          </a>
        </div>
        <div class="media-body" >
          <h4 class="media-heading"> {{new.name}}  <span ng-if="new.name != new.mname"> : {{new.mname}}</h4>
          <p>
            {{new.text}}
          </p>
        </div>
  </div>
<br>
      <footer>
        <div class="media1">
          <div class="media-left" ng-repeat="info in myinfo">
            <a href="#">
              <img class="media-object img-rounded post-picture" ng-src="{{info.profile_picture}}" alt="..." >
            </a>
          </div>
          <div class="media-body">
            <!-- <h4 class="media-heading"></h4> -->
          <textarea ng-repeat="info in myinfo"  ng-model="posttosend.post"name="post" rows="3" cols="80" placeholder="¿Qué estás tramando {{info.name}}?"></textarea>
          <br>
          <button type="submit" class="btn btn-large btn-info" ng-click="send()">Publicar</button>
        </div>
      </div>
      </footer>
