  <div class="media" ng-repeat="new in publicaciones">
        <div class="media-left">
          <a href="perfil.html">
            <img src="Images/ed3.jpg" class="img-rounded" alt="">
          </a>
        </div>
        <div class="media-body" >
          <h4 class="media-heading">{{new.name}}</h4>
          <p>
            {{new.text}}
          </p>
        </div>
  </div>
<br>
      <footer>
        <div class="media1">
          <div class="media-left">
            <a href="perfil.html">
              <img class="media-object img-rounded" src="Images/ed3.jpg" alt="..." >
            </a>
          </div>
          <div class="media-body">
            <!-- <h4 class="media-heading"></h4> -->
          <textarea  ng-model="posttosend.post"name="post" rows="3" cols="80" placeholder="¿Qué estás tramando?"></textarea>
          <br>
          <button type="submit" class="btn btn-large btn-info" ng-click="send()">Publicar</button>
        </div>
      </div>
      </footer>
